@mixin respond($device) {
  $phone: 37.5em;
  $tab-port: 56.25em;
  $tab-land: 75em;
  $desktop: 112.5em;
  $px: 1em / 16;

  @if $device == phone {
    @media only screen and (max-width: $phone) {
      @content;
    }
  }
  @if $device == tab-port {
    @media only screen and (min-width: $phone + $px) and (max-width: $tab-port) {
      @content;
    }
  }
  @if $device == tab-port-touch {
    @media only screen and (min-width: $phone + $px) and (max-width: $tab-port) and (hover: none) {
      @content;
    }
  }
  @if $device == tab-port-hover {
    @media only screen and (min-width: $phone + $px) and (max-width: $tab-port) and (hover: hover) {
      @content;
    }
  }
  @if $device == tab-land {
    @media only screen and (min-width: $tab-port + $px) and (max-width: $tab-land) {
      @content;
    }
  }
  @if $device == big-desktop {
    @media only screen and (min-width: $desktop) {
      @content;
    }
  }
}
