@mixin scrollbar(
  $width: 0.75rem,
  $padding: 0.5rem,
  $background: #babac0,
  $force-right: false
) {
  overflow-y: auto;

  @if ($force-right) {
    direction: ltr; // go scroll bar right

    & > * {
      direction: rtl; // go scroll bar right
    }
  }

  &::-webkit-scrollbar {
    width: $width + 2 * $padding;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);

    &-thumb {
      border: $padding solid rgba(0, 0, 0, 0);
      border-radius: 100px;
      background-clip: padding-box;
    }

    &-button {
      display: none;
    }
  }

  &:hover::-webkit-scrollbar {
    &-thumb {
      background-color: $background;

      &:active {
        background-color: darken($color: $background, $amount: 5);
      }
    }
  }
}
