@font-face {
  font-family: 'Vazir FD';
  src: url('./Vazir-FD.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Vazir FD';
  direction: rtl;
}

#send {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
}

#send__input {
  flex: auto;
  padding: 0.25rem 0.5rem;

  font-family: inherit;
  border: 1px solid #9e9e9e;
  border-radius: 0.5rem;
  outline: none;
}

#send__input:focus {
  border: 1px solid #9e9e9e;
}

#send__btn {
  padding: 0.25rem 0.75rem;
  margin-right: 0.5rem;

  font-family: inherit;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #e91e63;
}

#send__btn:hover {
  cursor: pointer;
}

#send__btn:focus {
  outline: none;
}
